<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suntak.eightdisciplines.db8d.dao.RecordDao">
    <resultMap id="Record" type="com.suntak.eightdisciplines.entity.Record">
        <id property="rid" column="rid"/>
        <result property="modify_username" column="modify_username"/>
        <result property="emp_id" column="emp_id"/>
        <result property="create_date" column="create_date"/>
        <result property="leasts" column="leasts"/>
        <result property="content" column="content"/>
        <result property="reason" column="reason"/>


        <collection property="attachFiles" ofType="com.suntak.eightdisciplines.entity.AttachFile"
                    select="getAttachFilesByRid" column="rid"/>

    </resultMap>

    <select id="getRecordByOptions" resultType="com.suntak.eightdisciplines.entity.Record">
        SELECT t.*
        FROM modify_complaint_history t
        WHERE 1=1
        <![CDATA[ AND t.create_date >=  #{startdate,jdbcType=DATE} ]]>
        <![CDATA[ AND t.create_date <= #{enddate,jdbcType=DATE} ]]>
        <if test='leasts != null and leasts != ""'>
            AND t.leasts = #{leasts}
        </if>
        ORDER BY t.create_date DESC
    </select>

    <insert id="addRecord" useGeneratedKeys="true" keyProperty="rid">
        <selectKey order="AFTER" resultType="java.lang.String" keyProperty="rid">
            SELECT SEQ_MODIFY_COMPLAINT_HISTORY.currval FROM dual
        </selectKey>
        INSERT INTO modify_complaint_history (rid,modify_username,emp_id,create_date,leasts,customercode,content,reason)
        VALUES
        (SEQ_MODIFY_COMPLAINT_HISTORY.NEXTVAL,#{modify_username},#{emp_id},#{create_date},#{leasts},#{customercode},#{content},#{reason})
    </insert>

    <!-- 做关联查询-->
    <select id="getRecordByRid" resultMap="Record">
        SELECT *
        FROM modify_complaint_history t
        WHERE t.rid = #{rid}
    </select>

    <!-- 由于只有一条插入操作并只涉及Record 就将 AttachFile 的Dao操作写在RecordMapper下-->
    <insert id="addAttachFile" useGeneratedKeys="true" keyProperty="fileid">
        INSERT INTO MODIFY_FLIE_ATTACH (fileid,rid,filename,filepath,filesize,create_date)
        VALUES (SEQ_MODIFY_FILE_ATTACH.NEXTVAL,#{rid},#{filename},#{filepath},#{filesize},#{create_date})
    </insert>

    <select id="getAttachFilesByRid" resultType="com.suntak.eightdisciplines.entity.AttachFile">
        SELECT *
        FROM MODIFY_FLIE_ATTACH T
        WHERE T.RID = #{rid}
    </select>
</mapper>
