<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suntak.eightdisciplines.db8d.dao.UserDao">
	<resultMap id="userResultMap" type="com.suntak.eightdisciplines.entity.User">
		<result property="username" column="user_name"/>
		<result property="password" column="user_password"/>
		<result property="alternateName" column="alternate_name"/>
		<result property="empId" column="emp_id"/>
		<result property="userId" column="user_id"/>
		<result property="email" column="user_email"/>
		<result property="active" column="active"/>
	</resultMap>

    <select id="loginUser" resultType="Integer">
		SELECT count(*)
		FROM sc.users
		WHERE user_name = #{username} AND user_password = #{password} AND active = 'Y'
	</select>

    <select id="getUserInfoByUsername" resultMap="userResultMap">
		SELECT t.user_name,t.user_password,s.emp_id,s.alternate_name,
		       t.user_email,t.user_id,t.active
		FROM sc.users t
		LEFT JOIN user_details s ON t.user_name = s.real_name
		WHERE t.user_name = #{username}
	</select>
</mapper>
