<!DOCTYPE html >
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- Jquery-->
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>

    <!-- Bootstrap -->
    <!-- <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.css/bootstrap.min.css" rel="stylesheet">-->
    <link th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <base th:href="${#request.getContextPath()}+'/'">
    <title>客诉修改</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/8d.ico}"/>
    <style type="text/css">


        #brand {
            width: 200px;
            height: 40px;
        }

        #userImg {
            width: 150px;
            height: 150px;
        }

        body {
            padding-top: 70px;
            padding-bottom: 20px;
        }

        .navbar {
            margin-bottom: 20px;
        }

        td, th {
            text-align: center;
            align: middle;
        }
    </style>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <!--图标 -->
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            <img alt="Brand" th:src="@{/images/suntak.jpg}" class="img-thumbnail" id="brand">
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-md-1 col-md-offset-6">
                <button type="button" class="btn btn-warning btn-sm navbar-btn" id="loginBtn">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    Login
                </button>
            </div>
        </div>
        </div>
    </nav>
</head>

<body>
<!-- 客诉编辑模态框 -->
<div class="modal fade" id="complaintUpdateModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">客诉修改</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" id="complaintForm"  enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">CAR</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" name="leasts" id="leasts_update_static"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">生产型号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="model" id="model_update_static" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">客户编码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="customcode" id="customcode_update_static"
                                   readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">投诉类别</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="claimtypes" id="claimtypes_select">

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">是否计入</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="customprocess" id="customprocess_select">
                                <option value="5001">计入客诉</option>
                                <option value="5003">不计入客诉</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">不计入理由</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="revokeresult" id="revokeresult_select">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">缺陷描述</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="defedtdesc" id="defedtdesc_update_input" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12 control-label">
                            <div class="col-sm-3">
                                责任产生工序
                            </div>
                            <div class="col-sm-5">
                                <select id="blame_list_select" class="form-control"></select>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-success btn-sm" id="blame_add_btn">新增</button>
                            </div>
                        </label>
                        <div class="col-sm-12">
                            <table class="table table-hover table-bordered" id="blameProcesses_table">
                                <thead>
                                <tr class="text-center">
                                    <th>工序名称</th>
                                    <th>工序代码</th>
                                    <th>具体内容</th>
                                    <th>工序类型</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12 control-label">
                            <div class="col-sm-3">
                                责任流出工序
                            </div>
                            <div class="col-sm-5">
                                <select id="outBlame_list_select" class="form-control"></select>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-success btn-sm" id="outBlame_add_btn">新增</button>
                            </div>
                        </label>
                        <div class="col-sm-12">
                            <table class="table table-hover table-bordered" id="outBlameProcesses_table">
                                <thead>
                                <tr class="text-center">
                                    <th>工序名称</th>
                                    <th>工序代码</th>
                                    <th>具体内容</th>
                                    <th>工序类型</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">上传附件</label>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-success btn-sm" id="file_add_btn">新增</button>
                        </div>
                        <div class="col-sm-12">
                            <table class="table table-hover table-bordered" id="files_table">
                                <thead>
                                <tr class="text-center">
                                    <th>文件名</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">修改原因</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="reason_update_input">
                            <span class="help-block" id="update_reason_help"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="complaint_update_btn">确定</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="complaintDeleteModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">客诉删除</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="complaintDeleteForm">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">CAR</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" name="leasts" id="leasts_delete_static"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">生产型号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="model" id="model_delete_static" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">客户编码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="customcode" id="customcode_delete_static"
                                   readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">删除原因</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="reason_delete_input">
                            <span class="help-block" id="delete_reason_help"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="complaint_delete_btn">确定</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!-- 左侧列表项 -->
    <div class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-heading">个人信息</div>
            <div class="panel-body" align="center">
                <img th:src="@{/images/user-image.png}" class="img-responsive img-rounded img-thumbnail" id="userImg"/>
                <p class="text-center text-primary" th:text="${'欢迎，' + session.user.alternateName}">
                    &nbsp;欢迎来到客诉历史记录界面</p>
                <p class="text-center text-warning" th:text="${'Email：' + session.user.email}">&nbsp;</p>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">选择操作</div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="complaint/complaintChange">客诉修改</a></li>
                    <li><a href="record/complaintRecord">历史记录统计</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <form th:action="@{/complaint/complaintInfo}" th:object="${customerComplaint}" method="post">
                    <div class="form-group">
                        <label for="leasts">CAR号：</label>
                        <input type="text" th:field="*{leasts}" class="form-control" id="leasts" placeholder="输入客诉CAR号">
                    </div>

                    <button type="submit" class="btn btn-default">查询</button>
                </form>
            </div>
        </div>

        <!-- 显示表格数据 -->
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-bordered" id="leasts_table">
                    <thead>
                    <tr class="text-center">
                        <th>CAR</th>
                        <th>客户编码</th>
                        <th>是否计入</th>
                        <th>不计入理由</th>
                        <th>投诉类别</th>
                        <th>缺陷描述</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody th:remove="all-but-first">
                    <tr th:each="c : ${complaintList}" class="text-center">
                        <th th:text="${c.leasts}">CAR</th>
                        <th th:text="${c.customcode}">客户编码</th>
                        <th th:text="${c.customprocess}">是否计入</th>
                        <th th:text="${c.revokeresult}">不计入理由</th>
                        <th th:text="${c.claimtypes}">投诉类别</th>
                        <th th:text="${c.defedtdesc}">缺陷描述</th>
                        <th th:text="${c.status == 'T' ? '已删除' : '在流程中'}">状态</th>
                        <th>
                            <button th:value="${c.base_uid}" class="btn btn-primary btn-sm complaint-edit">编辑</button>
                            <button th:value="${c.base_uid}" class="btn btn-danger btn-sm  complaint-del">删除</button>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>


<!-- Footer -->
<div th:fragment="footer" class="navbar-fixed-bottom">
    <div class="container text-center">
        崇达技术股份有限公司 © Suntak 8D
    </div>

</div>
<a th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/'} "
   id="contextPath"></a>
<script type="text/javascript">
    var contextPath = $('#contextPath').attr('href');

    // 记录责任工序的选项，当新增时取出选项进行同步操作
    var blameSelectOptions, outBlameSelectOptions;




    $(document).on("click", ".complaint-edit", function () {
        var base_uid = $(this).val();
        $.ajax({
            url: contextPath + "/complaint/editById",
            type: "POST",
            data: "base_uid=" + base_uid,
            dataType: "json",
            success: function (result) {
                var complaint = result.extend.complaint;
                $("#complaintUpdateModal").modal({
                    backdrop: "static"
                });
                //给更新的按钮赋值一个base_uid的属性
                $("#complaint_update_btn").attr("edit-id", complaint.base_uid);




                // 加载 投诉类别 下拉列表
                $("#claimtypes_select").empty();
                var type_list = result.extend.type_list;
                $.each(type_list, function (index, item) {
                    var typeOption = $("<option></option>").append(item.item_value)
                        .attr("value", item.item_key)
                    typeOption.appendTo("#claimtypes_select");
                });


                // 加载 不计入客诉下拉列表
                $("#revokeresult_select").empty();
                var result_list = result.extend.result_list;
                $("<option></option>").append("").appendTo("#revokeresult_select");
                $.each(result_list, function (index, item) {
                    var resultOption = $("<option></option>").append(item.item_value)
                        .attr("value", item.item_key)
                    resultOption.appendTo("#revokeresult_select");
                });


                // 建立下拉框后赋值 保证信息一致性
                $("#leasts_update_static").text(complaint.leasts);
                $("#customcode_update_static").val(complaint.customcode);
                $("#model_update_static").val(complaint.model);
                $("#claimtypes_select").val(complaint.claimtypes);
                $("#customprocess_select").val(complaint.customprocess);
                $("#revokeresult_select").val(complaint.revokeresult);
                $("#defedtdesc_update_input").val(complaint.defedtdesc);

                // 获取该car号对应的 责任工序下拉框选项,加载到相应位置
                blameSelectOptions = result.extend.blameSelectOptions;
                outBlameSelectOptions = result.extend.blameSelectOptions;

                $.each(blameSelectOptions, function (index, item) {
                    var blameOption = $("<option></option>").append(item.operation_description)
                        .attr("value", item.operation_description)
                    blameOption.appendTo("#blame_list_select");
                });
                // 奇怪的不能一次性加载到 产生工序 和 流出工序的位置
                $.each(blameSelectOptions, function (index, item) {
                    var outBlameOption = $("<option></option>").append(item.operation_description)
                        .attr("value", item.operation_description)
                    outBlameOption.appendTo("#outBlame_list_select");
                });

                // 先清空表格数据
                $("#blameProcesses_table tbody").empty();
                $("#outBlameProcesses_table tbody").empty();
                // 遍历 责任工序的数据
                var blameProcesses = complaint.blameProcesses;
                $.each(blameProcesses, function (index, item) {
                    var descTd = $("<td></td>").append(item.operation_description);
                    var codeTd = $("<td class=\"operation_code\"></td>").append(item.standard_operation_code);
                    codeTd.attr("code_value", item.standard_operation_code);
                    var contentTd = $("<td></td>").append(item.blame_content);
                    var typeTd = $("<td></td>").append(item.blame_type);

                    var delBtn = $("<button></button>").addClass("btn btn-danger btn-sm blame_del_btn").append("删除");

                    var btnTd = $("<td></td>").append(delBtn);

                    $("<tr></tr>").append(descTd)
                        .append(codeTd)
                        .append(contentTd)
                        .append(typeTd)
                        .append(btnTd)
                        .appendTo("#blameProcesses_table tbody");
                });


                var outBlameProcesses = complaint.outBlameProcesses;
                $.each(outBlameProcesses, function (index, item) {
                    var descTd = $("<td></td>").append(item.operation_description);
                    var codeTd = $("<td class=\"operation_code\"></td>").append(item.standard_operation_code);
                    codeTd.attr("code_value", item.standard_operation_code);
                    var contentTd = $("<td></td>").append(item.blame_content);
                    var typeTd = $("<td></td>").append(item.blame_type);

                    var delBtn = $("<button></button>").addClass("btn btn-danger btn-sm outBlame_del_btn").append("删除");

                    var btnTd = $("<td></td>").append(delBtn);

                    $("<tr></tr>").append(descTd)
                        .append(codeTd)
                        .append(contentTd)
                        .append(typeTd)
                        .append(btnTd)
                        .appendTo("#outBlameProcesses_table tbody");
                });
            }
        });
    });



    // 同步 责任产生工序的数据
    $(document).on("click", ".blame_del_btn", function () {
        $(this).parent().parent().remove();
        return false;
    });

    // 同步 责任流出工序的数据
    $(document).on("click", ".outBlame_del_btn", function () {
        $(this).parent().parent().remove();
        return false;
    });

    // 责任产生工序 新增按钮点击事件
    $("#blame_add_btn").click(function () {
        // 1、 增加责任产生工序 选项行
        var standard_operation_code;
        var operation_description = $("#blame_list_select").val();
        blameSelectOptions.forEach(function (item, index, arr) {
            if (item.operation_description == operation_description) {
                standard_operation_code = item.standard_operation_code;
            }
        });
        var descTd = $("<td></td>").append(operation_description);
        var codeTd = $("<td class=\"operation_code\"></td>").append(standard_operation_code);
        codeTd.attr("code_value", standard_operation_code);
        var content = $("#defedtdesc_update_input").val();
        var contentTd = $("<td></td>").append(content);
        var typeTd = $("<td></td>").append("产生工序");
        var delBtn = $("<button></button>").addClass("btn btn-danger btn-sm outBlame_del_btn").append("删除");

        var btnTd = $("<td></td>").append(delBtn);
        $("<tr></tr>").append(descTd)
            .append(codeTd)
            .append(contentTd)
            .append(typeTd)
            .append(btnTd)
            .appendTo("#blameProcesses_table tbody");

        // 2、 减少责任产生工序 对应的可选项，先让选项为空再重新加载
        rebuildBlameSelectOption("责任产生工序", operation_description);
    });

    // 责任流出工序 新增按钮点击事件
    $("#outBlame_add_btn").click(function () {
        // 1、 增加责任流出工序 选项行
        var standard_operation_code;
        var operation_description = $("#outBlame_list_select").val();
        outBlameSelectOptions.forEach(function (item, index, arr) {
            if (item.operation_description == operation_description) {
                standard_operation_code = item.standard_operation_code;
            }
        });
        var descTd = $("<td></td>").append(operation_description);
        var codeTd = $("<td class=\"operation_code\"></td>").append(standard_operation_code);
        codeTd.attr("code_value", standard_operation_code);
        var content = $("#defedtdesc_update_input").val();
        var contentTd = $("<td></td>").append(content);
        var typeTd = $("<td></td>").append("流出工序");
        var delBtn = $("<button></button>").addClass("btn btn-danger btn-sm outBlame_del_btn").append("删除");

        var btnTd = $("<td></td>").append(delBtn);
        $("<tr></tr>").append(descTd)
            .append(codeTd)
            .append(contentTd)
            .append(typeTd)
            .append(btnTd)
            .appendTo("#outBlameProcesses_table tbody");

        // 2、 减少责任流出工序 对应的可选项，先让选项为空再重新加载
        rebuildBlameSelectOption("责任流出工序", operation_description);


    });

    // 重建责任工序选项列表
    function rebuildBlameSelectOption(blame_type, operation_description) {
        if (blame_type == "责任产生工序") {
            // 1、 让责任工序选项列表为空
            $("#blame_list_select").empty();
            // 2、 删除对应的责任工序选项
            blameSelectOptions.forEach(function (item, index, arr) {
                if (item.operation_description == operation_description) {
                    arr.splice(index, 1);
                }
            });
            // 3、 重建 责任工序选项列表
            $.each(blameSelectOptions, function (index, item) {
                var blameOption = $("<option></option>").append(item.operation_description)
                    .attr("value", item.operation_description)
                    .attr("standard_operation_code", item.standard_operation_code);
                blameOption.appendTo("#blame_list_select");
            });
        } else if (blame_type == "责任流出工序") {
            // 1、 让责任工序选项列表为空
            $("#outBlame_list_select").empty();
            // 2、 删除对应的责任工序选项
            outBlameSelectOptions.forEach(function (item, index, arr) {
                if (item.operation_description == operation_description) {
                    arr.splice(index, 1);
                }
            });
            // 3、 重建 责任工序选项列表
            $.each(outBlameSelectOptions, function (index, item) {
                var blameOption = $("<option></option>").append(item.operation_description)
                    .attr("value", item.operation_description)
                    .attr("standard_operation_code", item.standard_operation_code);
                blameOption.appendTo("#outBlame_list_select");
            });
        }
    }

    $(document).on("click", ".complaint-del", function () {
        var base_uid = $(this).val();
        $.ajax({
            url: contextPath + "/complaint/editById",
            type: "POST",
            data: "base_uid=" + base_uid,
            dataType: "json",
            success: function (result) {
                var complaint = result.extend.complaint;
                $("#complaintDeleteModal").modal({
                    backdrop: "static"
                });
                //给更新的按钮赋值一个base_uid的属性
                $("#complaint_delete_btn").attr("del-id", complaint.base_uid);

                $("#leasts_delete_static").text(complaint.leasts);
                $("#customcode_delete_static").val(complaint.customcode);
                $("#model_delete_static").val(complaint.model);
            }
        });
    });

    $("#complaint_update_btn").click(function () {
        $("#update_reason_help").parent().parent().attr("class", "");
        $("#update_reason_help").text("");

        if ($("#reason_update_input").val() == "") {
            $("#update_reason_help").text("原因不能为空！");
            $("#update_reason_help").parent().parent().attr("class", "has-error");
            return;
        }

        // 将责任工序表格数据传入后台
        var blameTrList = $("#blameProcesses_table tbody").children("tr");
        var blameList = new Array();
        for (var i = 0; i < blameTrList.length; i++) {
            var blameProcess = new Object;
            var tdColumn = blameTrList.eq(i).children("td");
            var operation_description = tdColumn.eq(0).text();
            var standard_operation_code = tdColumn.eq(1).text();
            var blame_content = tdColumn.eq(2).text();
            var blame_type = tdColumn.eq(3).text();
            blameProcess.blame_type = blame_type;
            blameProcess.blame_content = blame_content;
            blameProcess.operation_description = operation_description;
            blameProcess.standard_operation_code = standard_operation_code;
            blameList.push(blameProcess);
        }


        var outBlameTrList = $("#outBlameProcesses_table tbody").children("tr");
        var outBlameList = new Array();
        for (var i = 0; i < outBlameTrList.length; i++) {
            var blameProcess = new Object;
            var tdColumn = outBlameTrList.eq(i).children("td");
            var operation_description = tdColumn.eq(0).text();
            var standard_operation_code = tdColumn.eq(1).text();
            var blame_content = tdColumn.eq(2).text();
            var blame_type = tdColumn.eq(3).text();
            blameProcess.blame_type = blame_type;
            blameProcess.blame_content = blame_content;
            blameProcess.operation_description = operation_description;
            blameProcess.standard_operation_code = standard_operation_code;
            outBlameList.push(blameProcess);
        }

        // 为了 将表单中文件数据进行传送，将json数据封装填入表单
        var complaint = JSON.stringify( {
                "complaint": $("#complaintForm").serializeArray(),
                "reason": $("#reason_update_input").val(),
                "blameList": blameList,
                "outBlameList": outBlameList,
                "base_uid" :  $(this).attr("edit-id")
            });

        // 将数据封装成一个 FormData对象，注意 append 只能存储 string， blob，file
       var complaintFormData = new FormData();
        complaintFormData.append("complaint",complaint);

        $("input[name='complaint_file']").each(function () {
            console.log(this.files);
            complaintFormData.append("complaint_file",this.files[0]);
        });


        console.log(complaintFormData);
        // 客诉对象数据
        $.ajax({
            url: contextPath + "/complaint/editComplaint",
            type: "POST",
            dataType:"json",
            contentType:"application/json",
            cache:false,
            data:complaintFormData,
            processData: false,
            contentType: false,
            success: function (result) {
                alert("更新成功！");
                window.location.reload();
            }

        });
    });

    $("#complaint_delete_btn").click(function () {

        $("#delete_reason_help").parent().parent().attr("class", "");
        $("#delete_reason_help").text("");

        if ($("#reason_delete_input").val() == "") {
            $("#delete_reason_help").text("原因不能为空！");
            $("#delete_reason_help").parent().parent().attr("class", "has-error");
            return;
        }

        $.ajax({
            url: contextPath + "/complaint/delComplaint?base_uid=" + $(this).attr("del-id") + "&reason=" + $("#reason_delete_input").val(),
            type: "DELETE",
            success: function (result) {
                if (result.code == 100) {
                    alert("删除成功");
                    window.location.reload();
                } else {
                    alert(result.extend.message);
                }
            }
        });
    });


    // 附件新增
    $("#file_add_btn").click(function(){

        var fileTd = $("<td class=\"text-center\"></td>").append("<input type= 'file'  name='complaint_file' />");
        var delBtn = $("<button></button>").addClass("btn  btn-danger btn-sm file_del_btn").append("删除");

        var btnTd = $("<td></td>").append(delBtn);
        $("<tr></tr>").append(fileTd)
            .append(btnTd)
            .appendTo("#files_table tbody");
    });




    // 同步 file附件的数据
    $(document).on("click", ".file_del_btn", function () {
        $(this).parent().parent().remove();
        return false;
    });

    $("#loginBtn").click(function () {
        window.location.href = contextPath;
    });
</script>

</body>
</html>